<h1 class="h1">RSVP</h1>
<br /><br />

<strong>Contact Email:</strong> {{email}} <br />

<br />

<strong>Guest One:</strong> {{fullname}} <br />
<strong>Attending:</strong> {{attending}} <br />
<strong>Diet:</strong> <br />{{{diet}}} <br />

<br />

<strong>Guest Two:</strong> {{fullnameGuest}} <br />
<strong>Attending:</strong> {{attendingGuest}} <br />
<strong>Diet:</strong> <br />{{{dietGuest}}} <br />

<br />


<strong>Important Info:</strong><br />

{{{important}}}

<br /><br />

<strong>Additional Info:</strong><br />

{{{additional}}}
